/* screen - homepage-option-2-desktop */

.homepage-option-2-desktop {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  position: relative;
}

.homepage-option-2-desktop .homepage-desktop {
  position: relative;
  width: 1282px;
}
