* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v135_1002 {
  width: 100%;
  height: 7033px;
  background: url("../images/v135_1002.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v135_1003 {
  width: 100%;
  height: 7033px;
  background: url("../images/v135_1003.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v135_1004 {
  width: 100%;
  height: 80px;
  background: url("../images/v135_1004.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v135_1006 {
  width: 100%;
  height: 647px;
  background: url("../images/v135_1006.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v135_1007 {
  width: 100%;
  height: 647px;
  background: url("../images/v135_1007.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  overflow: hidden;
}
.v135_1008 {
  width: 71px;
  height: 107px;
  background: url("../images/v135_1008.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 382px;
  left: 986px;
  overflow: hidden;
}
.v135_1009 {
  width: 71px;
  height: 31px;
  background: url("../images/v135_1009.png");
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 0px;
  border: 10px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1010 {
  width: 54px;
  height: 54px;
  background: url("../images/v135_1010.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 14px;
  border: 10px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1011 {
  width: 19px;
  height: 42px;
  background: url("../images/v135_1011.png");
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 27px;
  border: 10px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1012 {
  width: 10px;
  height: 13px;
  background: url("../images/v135_1012.png");
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 32px;
  border: 2px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1013 {
  width: 100%;
  height: 427px;
  background: url("../images/v135_1013.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 10px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1014 {
  width: 100%;
  height: 224px;
  background: url("../images/v135_1014.png");
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 123px;
  border: 10px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1015 {
  width: 100%;
  height: 73px;
  background: url("../images/v135_1015.png");
  opacity: 1;
  position: absolute;
  top: 119px;
  left: 1px;
  border: 10px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1016 {
  width: 197px;
  height: 67px;
  background: url("../images/v135_1016.png");
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 26px;
  border: 10px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1017 {
  width: 729px;
  height: 51px;
  background: url("../images/v135_1017.png");
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 298px;
  border: 10px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1018 {
  width: 100%;
  height: 233px;
  background: url("../images/v135_1018.png");
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 1px;
  border: 10px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1019 {
  width: 100%;
  background: url("../images/v135_1019.png");
  opacity: 1;
  position: absolute;
  top: 511px;
  left: 1px;
  border: 10px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1020 {
  width: 649px;
  background: url("../images/v135_1020.png");
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 320px;
  border: 10px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1021 {
  width: 65px;
  height: 104px;
  background: url("../images/v135_1021.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 383px;
  left: 237px;
  overflow: hidden;
}
.v135_1022 {
  width: 65px;
  height: 31px;
  background: url("../images/v135_1022.png");
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 0px;
  border: 8.468100547790527px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1023 {
  width: 51px;
  height: 52px;
  background: url("../images/v135_1023.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 4px;
  border: 8.468100547790527px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1024 {
  width: 20px;
  height: 39px;
  background: url("../images/v135_1024.png");
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 20px;
  border: 8.468100547790527px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1025 {
  width: 12px;
  height: 10px;
  background: url("../images/v135_1025.png");
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 19px;
  border: 1.6936200857162476px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1026 {
  width: 67px;
  height: 53px;
  background: url("../images/v135_1026.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 436px;
  left: 490px;
  overflow: hidden;
}
.v135_1027 {
  width: 62px;
  height: 35px;
  background: url("../images/v135_1027.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  border: 7.119089603424072px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1028 {
  width: 67px;
  height: 22px;
  background: url("../images/v135_1028.png");
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 0px;
  border: 7.119089603424072px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1029 {
  width: 67px;
  height: 53px;
  background: url("../images/v135_1029.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 436px;
  left: 747px;
  overflow: hidden;
}
.v135_1030 {
  width: 62px;
  height: 35px;
  background: url("../images/v135_1030.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  border: 7.119089603424072px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1031 {
  width: 67px;
  height: 22px;
  background: url("../images/v135_1031.png");
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 0px;
  border: 7.119089603424072px solid rgba(109,107,133,0.05000000074505806);
}
.v135_1032 {
  width: 100%;
  height: 487px;
  background: url("../images/v135_1032.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  box-shadow: 0px 0px 148px rgba(0.21176470816135406, 0.19607843458652496, 0.38823530077934265, 1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v135_1034 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 214px;
  left: 109px;
  font-family: VT323;
  font-weight: Regular;
  font-size: 100px;
  opacity: 1;
  text-align: center;
}
.v135_1035 {
  width: 828px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 333px;
  left: 232px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v135_1036 {
  width: 100%;
  height: 242px;
  background: url("../images/v135_1036.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 727px;
  left: 2px;
  overflow: hidden;
}
.v135_1037 {
  width: 100%;
  height: 1498px;
  background: url("../images/v135_1037.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 70px;
  opacity: 1;
  position: absolute;
  top: 969px;
  left: 66px;
  overflow: hidden;
}
.v135_1038 {
  width: 100%;
  height: 125px;
  background: url("../images/v135_1038.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 34px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  overflow: hidden;
}
.v135_1039 {
  width: 100%;
  color: rgba(197,162,228,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: VT323;
  font-weight: Regular;
  font-size: 70px;
  opacity: 1;
  text-align: center;
}
.v135_1040 {
  width: 239px;
  background: url("../images/v135_1040.png");
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 417px;
  border: 2px solid rgba(197,162,228,1);
  box-shadow: 0px 0px 0px rgba(0.772549033164978, 0.6392157077789307, 0.8980392217636108, 1);
}
.v135_1041 {
  width: 100%;
  height: 1039px;
  background: url("../images/v135_1041.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 49px;
  opacity: 1;
  position: absolute;
  top: 195px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v135_1048 {
  width: 100%;
  height: 1977px;
  background: url("../images/v135_1048.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 76px;
  opacity: 1;
  position: absolute;
  top: 2467px;
  left: 66px;
  overflow: hidden;
}
.v135_1049 {
  width: 100%;
  height: 123px;
  background: url("../images/v135_1049.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 38px;
  overflow: hidden;
}
.v135_1050 {
  width: 100%;
  color: rgba(197,162,228,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: VT323;
  font-weight: Regular;
  font-size: 70px;
  opacity: 1;
  text-align: center;
}
.v135_1051 {
  width: 239px;
  background: url("../images/v135_1051.png");
  opacity: 1;
  position: absolute;
  top: 123px;
  left: 418px;
  border: 2px solid rgba(197,162,228,1);
  box-shadow: 0px 0px 0px rgba(0.772549033164978, 0.6392157077789307, 0.8980392217636108, 1);
}
.v135_1052 {
  width: 100%;
  height: 1514px;
  background: url("../images/v135_1052.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 23px;
  opacity: 1;
  position: absolute;
  top: 199px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v135_1059 {
  width: 100%;
  height: 2080px;
  background: url("../images/v135_1059.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 123px;
  opacity: 1;
  position: absolute;
  top: 4444px;
  left: 66px;
  overflow: hidden;
}
.v135_1060 {
  width: 100%;
  height: 128px;
  background: url("../images/v135_1060.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 37px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 38px;
  overflow: hidden;
}
.v135_1061 {
  width: 100%;
  color: rgba(197,162,228,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: VT323;
  font-weight: Regular;
  font-size: 70px;
  opacity: 1;
  text-align: center;
}
.v135_1062 {
  width: 239px;
  background: url("../images/v135_1062.png");
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 418px;
  border: 2px solid rgba(197,162,228,1);
  box-shadow: 0px 0px 0px rgba(0.772549033164978, 0.6392157077789307, 0.8980392217636108, 1);
}
.v135_1063 {
  width: 100%;
  height: 1708px;
  background: linear-gradient(rgba(33,50,85,0), rgba(37,41,82,0.5));
  padding: 42px 40px;
  margin: 95px;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v135_1064 {
  width: 100%;
  height: 401px;
  background: url("../images/v135_1064.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 66px;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 40px;
  overflow: hidden;
}
.v135_1065 {
  width: 374px;
  height: 401px;
  background: url("../images/v135_1065.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v135_1066 {
  width: 598px;
  color: rgba(238,238,238,1);
  position: absolute;
  top: 125px;
  left: 440px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v135_1067 {
  width: 465px;
  height: 196px;
  background: url("../images/v135_1067.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 17px;
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 40px;
  overflow: hidden;
}
.v135_1068 {
  width: 225px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 120px;
  font-family: VT323;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v135_1069 {
  width: 224px;
  height: 56px;
  background: linear-gradient(rgba(29,39,77,1), rgba(74,98,188,0.6200000047683716));
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v135_1070 {
  width: 173px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 26px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v135_1071 {
  width: 224px;
  height: 56px;
  background: linear-gradient(rgba(29,39,77,1), rgba(74,98,188,0.6200000047683716));
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 241px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v135_1072 {
  width: 196px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 14px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v135_1073 {
  width: 224px;
  height: 56px;
  background: linear-gradient(rgba(29,39,77,1), rgba(74,98,188,0.6200000047683716));
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v135_1074 {
  width: 194px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 15px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v135_1075 {
  width: 224px;
  height: 56px;
  background: linear-gradient(rgba(29,39,77,1), rgba(74,98,188,0.6200000047683716));
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 241px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v135_1076 {
  width: 145px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 40px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v135_1077 {
  width: 478px;
  height: 196px;
  background: url("../images/v135_1077.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 600px;
  overflow: hidden;
}
.v135_1078 {
  width: 225px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 127px;
  font-family: VT323;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v135_1079 {
  width: 224px;
  height: 56px;
  background: linear-gradient(rgba(29,39,77,1), rgba(74,98,188,0.6200000047683716));
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v135_1080 {
  width: 209px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 8px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v135_1081 {
  width: 224px;
  height: 56px;
  background: linear-gradient(rgba(29,39,77,1), rgba(74,98,188,0.6200000047683716));
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 254px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v135_1082 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 50px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v135_1083 {
  width: 224px;
  height: 56px;
  background: linear-gradient(rgba(29,39,77,1), rgba(74,98,188,0.6200000047683716));
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v135_1084 {
  width: 202px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 11px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v135_1085 {
  width: 224px;
  height: 56px;
  background: linear-gradient(rgba(29,39,77,1), rgba(74,98,188,0.6200000047683716));
  padding: 8px 8px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 254px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v135_1086 {
  width: 116px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 54px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v135_1087 {
  width: 100%;
  height: 160px;
  background: url("../images/v135_1087.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 771px;
  left: 40px;
  overflow: hidden;
}
.v135_1088 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v135_1089 {
  width: 100%;
  height: 649px;
  background: url("../images/v135_1089.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 14px 14px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 997px;
  left: 40px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v135_1090 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 14px;
  font-family: VT323;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v135_1091 {
  width: 100%;
  color: rgba(238,238,238,1);
  position: absolute;
  top: 78px;
  left: 14px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v135_1092 {
  width: 100%;
  color: rgba(238,238,238,1);
  position: absolute;
  top: 281px;
  left: 14px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v135_1093 {
  width: 100%;
  color: rgba(238,238,238,1);
  position: absolute;
  top: 481px;
  left: 14px;
  font-family: Roboto Mono;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v135_1094 {
  width: 100%;
  height: 427px;
  background: url("../images/v135_1094.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px 100px;
  margin: 48px;
  opacity: 1;
  position: absolute;
  top: 6524px;
  left: 0px;
  overflow: hidden;
}
.v135_1095 {
  width: 100%;
  height: 84px;
  background: url("../images/v135_1095.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 100px;
  overflow: hidden;
}
.v135_1096 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto Mono;
  font-weight: Bold;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v135_1098 {
  width: 100%;
  height: 36px;
  background: url("../images/v135_1098.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 1091px;
  opacity: 1;
  position: absolute;
  top: 6951px;
  left: 33px;
  overflow: hidden;
}
.v135_1099 {
  width: 35px;
  height: 36px;
  background: url("../images/v135_1099.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v135_1101 {
  width: 89px;
  height: 36px;
  background: url("../images/v135_1101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 17px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1126px;
  overflow: hidden;
}
.v135_1102 {
  width: 36px;
  height: 34px;
  background: rgba(255,255,255,1);
  padding: 5px 2px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v135_1103 {
  width: 32px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 2px;
}
.v135_1104 {
  width: 36px;
  height: 36px;
  background: rgba(255,255,255,1);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 54px;
  overflow: hidden;
}
.v135_1105 {
  width: 36px;
  height: 36px;
  background: url("../images/v135_1105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v135_1106 {
  width: 1px;
  height: 29px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 35px;
}
.v135_1107 {
  width: 1px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 33px;
}
.v135_1108 {
  width: 1px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 33px;
}
.v135_1109 {
  width: 1px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 32px;
}
.v135_1110 {
  width: 29px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 4px;
}
.v135_1111 {
  width: 25px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 6px;
}
.v135_1112 {
  width: 12px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 16px;
}
.v135_1113 {
  width: 3px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 9px;
}
.v135_1114 {
  width: 3px;
  height: 3px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 9px;
}
.v135_1115 {
  width: 25px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 6px;
}
.v135_1116 {
  width: 29px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
}
.v135_1117 {
  width: 1px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 4px;
}
.v135_1118 {
  width: 1px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 2px;
}
.v135_1119 {
  width: 1px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
}
.v135_1120 {
  width: 1px;
  height: 29px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
