:root { 
  --black: #000000;
  --card-stroke: #7a7aa6;
  --gallery: #eeeeee;
  --light-wisteria: #c5a2e4;
  --white: #ffffff;
 
  --font-size-l: 24px;
  --font-size-m: 16px;
  --font-size-s: 13.9px;
  --font-size-xl: 32px;
  --font-size-xxl: 35px;
  --font-size-xxxl: 40px;
 
  --font-family-roboto_mono: "Roboto Mono", Helvetica;
  --font-family-vt323: "VT323", Helvetica;
}
.h4---desktop {
  font-family: var(--font-family-vt323);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.h2---mobile {
  font-family: var(--font-family-vt323);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.robotomono-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-roboto_mono);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.robotomono-normal-gallery-16px {
  color: var(--gallery);
  font-family: var(--font-family-roboto_mono);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.robotomono-medium-light-wisteria-24px {
  color: var(--light-wisteria);
  font-family: var(--font-family-roboto_mono);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.robotomono-medium-gallery-24px {
  color: var(--gallery);
  font-family: var(--font-family-roboto_mono);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}
